<div class="login-page">
  <!-- القسم الأيسر: نموذج تسجيل الدخول -->
  <div class="form-section d-flex justify-content-center align-items-center">

    <div class="login-card glass-card p-4 w-100">
      <!-- اللوجو -->
      <div class="text-center mb-3">
        <div class="avatar mx-auto mb-3">
          <i class="fa-solid fa-user fa-3x text-white"></i>
        </div>
      </div>

      <h4 class="text-center fw-bold mb-2 text-purple">مرحبًا بعودتك</h4>
      <p class="text-center text-muted mb-4">سجّل الدخول إلى حسابك</p>

      <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()" class="p-2">
        <!-- اسم المستخدم -->
        <div class="mb-3">
          <label for="name" class="form-label">اسم المستخدم</label>
          <input type="text" id="name" formControlName="userName" class="form-control form-input" />
          @if (loginForm.get('userName')?.touched && loginForm.get('userName')?.invalid) {
          <div class="form-error">
            @if (loginForm.get('userName')?.errors?.['required']) {
            <span>الاسم مطلوب</span>
            }
            @if (loginForm.get('userName')?.errors?.['pattern']) {
            <span>الاسم يجب أن يحتوي على حروف و ارقام</span>
            }
          </div>
          }
        </div>

        <!-- كلمة المرور -->
        <div class="mb-3">
          <label for="password" class="form-label">كلمة المرور</label>
          <input type="password" id="password" formControlName="password" class="form-control form-input" />
          @if (loginForm.get('password')?.touched && loginForm.get('password')?.invalid) {
          <div class="form-error">
            @if (loginForm.get('password')?.errors?.['required']) {
            <span>كلمة المرور مطلوبة</span>
            }
            @if (loginForm.get('password')?.errors?.['minlength']) {
            <span>يجب أن تكون 8 أحرف على الأقل</span>
            }
            @if (loginForm.get('password')?.errors?.['pattern']) {
            <span>يجب أن تحتوي على حرف كبير، رقم، ورمز خاص</span>
            }
          </div>
          }
          @if (serverErrorMessage && loginForm.get('password')?.touched) {
          <div class="invalid-feedback d-block">
            <span>{{serverErrorMessage}}</span>
          </div>
          }
        </div>

        <!-- هل نسيت كلمة المرور؟ -->
        <div class="d-flex justify-content-end mb-3">
          <a class="text-decoration-none text-purple" routerLink="/forget">هل نسيت كلمة المرور؟</a>
        </div>

        <!-- زر الدخول -->
        <button type="submit" class="btn gradient-button text-white w-100 py-2">تسجيل الدخول</button>
      </form>

      <p class="text-center mt-3 mb-0">
        ليس لديك حساب؟ <a class="text-decoration-none text-purple fw-bold" routerLink="/register">أنشئ حسابًا</a>
      </p>

    </div>
  </div>
</div>
<!-- [ngClass]="{
              'is-valid': !loginForm.get('password')?.errors && loginForm.get('password')?.touched,
              'is-invalid': loginForm.get('password')?.errors && loginForm.get('password')?.touched
            }" -->
<!-- [ngClass]="{
              'is-valid': !loginForm.get('userName')?.errors && loginForm.get('userName')?.touched,
              'is-invalid': loginForm.get('userName')?.errors && loginForm.get('userName')?.touched
            }" -->
