/* خلفية الصفحة */
body {
 
  
  font-family: 'Cairo', sans-serif;
  direction: rtl;
  margin: 0;
  padding: 0;
  min-height: 100vh;
 
 
}
/* الفورم الشفاف */
.update-container {
  background-position: center;
  background-repeat: no-repeat;
   background-size: cover;
  // background-image: url('/images/updatebackground.jpg');
}

/* العنوان */

.form-title {
  background-color: rgb(99,60,132); /* اللون اللي طلبتيه */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 16px;
  text-align: center;
  margin: -30px -30px 20px -30px; /* تشيل البادينج بتاع الفورم وتغطي العرض كله */
}

.title {
  margin: 0;
  font-size: 24px;
  color: white;
}


/* الفورم */
.update-form {
   border-radius: 20px;
   backdrop-filter: blur(4px); /* 👈 يعطي تأثير زجاجي ناعم */

  animation: fadeInUp 1s ease; /* أنيميشن دخول */
   background: rgba(255, 255, 255,0.8); /* شفافية */
  padding: 30px;
 margin: 50px auto;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
  animation: fadeInUp 1s ease; /* أنيميشن دخول */
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* كل مجموعة إدخال */
.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 6px;
  color:rgb(99,60,132);
}

.form-group input {
  padding: 10px;
  border: 0.5px solid #eadce8;
  border-radius: 10px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.form-group input:focus {
  border-color:  rgb(198, 163, 228);
  outline: none;
}

/* الأزرار */
.form-actions {
  display: flex;
  justify-content: center; /* توسيط الأزرار */
  gap: 10px;
  margin-top: 15px;
}

.submit-btn,
.cancel-btn {
  padding: 8px 16px; /* تصغير حجم الزر */
  font-size: 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

/* لون زر التحديث */
.submit-btn {
  background-color: rgb(99,60,132);
  color: white;
}
.submit-btn:hover {
 
  transform: translateY(-1px);
}

/* لون زر الإلغاء */
.cancel-btn {
  background-color: #ddd;
  color: #333;
}
.cancel-btn:hover {
  background-color: #bbb;
  transform: translateY(-1px);
}


/* اللودينج */
.loading {
  text-align: center;
  margin-top: 100px;
  font-size: 20px;
  color: #888;
}

/* أنيميشن الدخول */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.form-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.form-group {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
}


.error-msg {
  font-size: 14px;
  color: #d10024;
  margin-top: 5px;
}

input.ng-invalid.ng-touched {
  border: 1px solid #d10024;
  background-color: #fff0f3;
}
