<nav class="navbar">
  <div class="logo">
    <img src="/images/nazzem logo (1).png" alt="Logo" />
  </div>

  <ul class="nav-links d-flex">
    <div class="center-links d-flex">
      <li routerLinkActive="active-link">
        <a routerLink="/home">الرئيسية</a>
      </li>
      @if (isLoggedIn()) {

      <li routerLinkActive="active-link">
        <a routerLink="/userAppointment">حجوزاتك</a>
      </li>
      <li routerLinkActive="active-link" class="notification-wrapper">
        <a routerLink="/notification" class="user-icon">
          <i class="fa-solid fa-bell"></i> الإشعارات @if (unreadCount > 0) {
          <span class="badge">{{ unreadCount }}</span>
          }
        </a>
      </li>

      }
    </div>

    <div class="right-links d-flex">
      @if (!isLoggedIn()) {
      <li routerLinkActive="active-link">
        <a routerLink="/login">تسجيل دخول</a>
      </li>
      } @else {

      <li class="profile-dropdown" (click)="toggleProfileDropdown($event)">
        <a class="user-icon"><i class="fa fa-user-circle"></i></a>
        <div class="profile-popup" *ngIf="showProfileDropdown">
          @if (patient) {
          <div class="profile-card">
            <div class="profile-icon">
              <i class="fas fa-user"></i>
            </div>
            <h3>{{ patient.fName }} {{ patient.lName }}</h3>
            <p>
              <i class="fas fa-map-marker-alt"></i> {{ patient.city }} -
              {{ patient.street }}, {{ patient.country }}
            </p>
            <p><i class="fas fa-phone-alt"></i> {{ patient.phone }}</p>
            <p><i class="fas fa-envelope"></i> {{ patient.email }}</p>
            <button routerLink="/update-profile">تعديل البيانات</button>
          </div>
          } @else {
          <div class="loading">جاري تحميل البيانات...</div>
          }
        </div>
      </li>

      <li><a (click)="logout()">تسجيل خروج</a></li>
      }
    </div>
  </ul>
</nav>
