.navbar {
  direction: rtl;
  background-color: white;
  padding: 0.5rem 2rem;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(100, 60, 132, 0.25);
  position: relative;
}

.logo {
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
}

.logo img {
  height: 100px;

}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links li {
  height: 44px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  transition: 0.3s ease;
}

.nav-links li:hover {
  background-color: #633c84;
}

.nav-links a {
  color: #633c84;
  font-weight: 500;
  font-size: 1.1rem;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links li:hover a {
  color: white;
}

.active-link {
  background-color: #633c84;
  border-radius: 12px;
}

.active-link a {
  color: white !important;
}

.user-icon {
  font-size: 1.5rem;
}
