<div class="container p-3 text-center">
    <h4 class="mb-4 fw-bold">الحجوزات التي قمت بها</h4>

    @if (appointments.length === 0) {
    <p>لا يوجد حجوزات حتى الآن</p>
    } @else {
    @for (appointment of appointments; track appointment.id) {
    <div class="card mb-3 shadow-sm px-3 py-2 appointment-card">
        <div class="d-flex align-items-center justify-content-between">
            <div class="text-start">
                <h6 class="fw-bold">{{ appointment.doctorName }}</h6>
                <small class="text-muted">{{ appointment.specialization }}</small>
            </div>
            <img [src]="appointment.doctorImage" alt="دكتور" class="rounded-circle doctor-img">
        </div>
        <div class="bg-white text-center mt-2 py-1 rounded-pill date-box">
            <small class="text-dark">
                {{ appointment.dayName }}، {{ appointment.date }}، {{ appointment.time }}
            </small>
        </div>
    </div>
    }
    }
</div>