.appointment-card {
    background-color: #ffffff;
    border-radius: 0.5rem;
    color: rgb(8, 8, 8);
}

.doctor-img {
    width: 55px;
    height: 55px;
    object-fit: cover;
    border: 2px solid white;
}

.date-box {
    background-color: #fff;
    display: inline-block;
    // min-width: 120px;
    font-size: 1rem;
    color: #333;
}