<section class="container login-container d-flex justify-content-center align-items-center" dir="rtl">
  <div class="login-card text-center">
    <div class="logo mb-3">
      <i class="bi bi-envelope-check-fill fs-1 text-main"></i>
    </div>
    <h4 class="fw-bold">التحقق من البريد الإلكتروني</h4>
    <p class="text-muted mb-4">يرجى إدخال بريدك الإلكتروني للتحقق</p>

    @if (step == 1) {
      <form [formGroup]="forgotPassword" (ngSubmit)="submitEmail()" class="mt-4 text-end">
        <div class="mb-3">
          <label class="form-label">البريد الإلكتروني</label>
          <input formControlName="email" class="form-control" type="email" />
          @if (forgotPassword.get('email')?.invalid) {
            <div class="form-error">
              @if (forgotPassword.get('email')?.errors?.['email']) {
                <span>صيغة البريد الإلكتروني غير صحيحة</span>
              }
            </div>
          }
        </div>
        <button [disabled]="forgotPassword.invalid" class="btn btn-primary w-100 mt-2">
          إرسال رابط إعادة التعيين
        </button>
      </form>
    }

    @else if (step == 2) {
      <form [formGroup]="resetPassword" (ngSubmit)="submitResetPassword()" class="mt-4 text-end">
        <div class="mb-3">
          <label class="form-label">البريد الإلكتروني</label>
          <input formControlName="email" class="form-control" type="email" />
        </div>

        <div class="mb-3">
          <label class="form-label">كلمة المرور الجديدة</label>
          <input formControlName="newPassword" class="form-control" type="password" />
          @if (resetPassword.get('newPassword')?.invalid) {
            <div class="form-error">
              @if (resetPassword.get('newPassword')?.errors?.['minlength']) {
                <span>يجب أن تكون 8 أحرف على الأقل</span>
              }
              @if (resetPassword.get('newPassword')?.errors?.['pattern']) {
                <span>يجب أن تحتوي على حرف كبير، رقم، ورمز خاص</span>
              }
            </div>
          }
        </div>

        <input formControlName="token" type="hidden" />

        <button [disabled]="resetPassword.invalid" class="btn btn-success w-100 mt-2">
          تعيين كلمة المرور
        </button>
      </form>
    }
  </div>
</section>
