.doctor-profile-container {
  padding: 20px;
  max-width: 600px;
  margin: auto;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 10px #ccc;
  direction: rtl;
  text-align: right;
}

.doctor-header {
  text-align: center;
  margin-bottom: 20px;

  .doctor-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .doctor-name {
    font-size: 24px;
    font-weight: bold;
  }

  .doctor-specialty {
    color: #680980;
    font-weight: 500;
  }
}

.doctor-details {
  font-size: 16px;

  p {
    margin-bottom: 10px;
  }
}

.schedule-section {
  margin-top: 30px;
  background-color: #f4f6fa;
  padding: 20px;
  border-radius: 12px;

  .section-title {
    font-size: 22px;
    margin-bottom: 15px;
    color: #5e0202;
  }

  .schedule-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .schedule-item {
      background-color: #ffffff;
      padding: 10px 16px;
      border-radius: 8px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
      display: flex;
      align-items: center;
      font-size: 16px;
      white-space: nowrap; // 👈 يمنع انقسام الكلام
      .day {
        font-weight: 600;
        color: #8f0b7b;
      }
    }
  }

  .no-schedule {
    color: #999;
    font-style: italic;
  }
}

.slots-section {
  margin-top: 30px;
  background-color: #f4f6fa;
  padding: 20px;
  border-radius: 12px;

  .section-title {
    font-size: 22px;
    margin-bottom: 15px;
    color: #003366;
  }

  .slot-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .slot-item {
      background-color: #ffffff;
      padding: 10px 16px;
      border-radius: 8px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
      font-size: 15px;
      font-weight: 500;
      color: #005b96;
      white-space: nowrap; // لمنع كسر السطر داخل العنصر
      transition: background-color 0.3s;

      &:hover {
        background-color: #e6f0ff;
        cursor: pointer;
      }
    }
  }

  .no-schedule {
    color: #999;
    font-style: italic;
    margin-top: 10px;
  }
}
